<p>
  {{this.count}}
</p>
<p>
  {{@multiple}}
</p>
<p>
  {{this.total}}
</p>

<button {{on "click" (fn this.change 1)}}>
  +1
</button>
<button {{on "click" (fn this.change -1)}}>
  -1
</button>

<button {{on "click" this.double}}>
  Double It
</button>